TMDB_API_KEY=c283d87acaec6dbb8d5efd64f12f58d2
FRONTEND_URL=https://movie-recommendation-system-mrs.vercel.app
HF_MODEL_REPO=classy7/movie-sst5-distilbert
HF_MODEL_REVISION=main
HF_TOKEN=optional_for_private_model_repo
MODEL_LOAD_ON_STARTUP=false


TMDB_API_KEY=c283d87acaec6dbb8d5efd64f12f58d2
FRONTEND_URL=https://movie-recommendation-system-mrs.vercel.app
HF_MODEL_REPO=classy7/movie-sst5-distilbert
HF_MODEL_REVISION=main
MODEL_LOAD_ON_STARTUP=false
WEB_CONCURRENCY=1
GUNICORN_TIMEOUT=240
